.server-outer-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 21fr;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
    /* padding: .5rem; */
}

.server-icon-container {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.server-icons {
    width: 60px;
    height: 100%;
    border-radius: 50%;
    /* border: 1px solid pink; */
    /* max-height: 80px; */
}

.servers-container {
    /* max-width: 156px; */
    width: 90px;
    display: flex;
    flex-direction: column;
    background-color: rgb(32, 34, 37);
    /* padding: 10px; */
}
