/* TODO Add site wide styles */

@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    background-color: rgb(54, 57, 63);
    color: white;
    font-family: 'Encode Sans', sans-serif;
    scrollbar-color: dark;
}

input {
    background-color: rgb(64, 68, 76);
    color: white;
}

img {
    border-radius: 50%;
}

.scrollable-element {
    scrollbar-color: dark;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
