.message-box {
    background-color: rgb(54, 57, 63);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


#red-text {
    color: red;
}

.new-message {
    margin-bottom: 10px;
    background-color: rgb(64, 68, 76);
    /* padding-left: 10px;
    padding-right: 10px; */
    margin-right: 15px;
    margin-left: 15px;
    /* display: flex;
    flex-direction: column; */
    display: grid;

    height: 40px;
    border-radius: 10px;
}

.msg-form {
    display: flex;
    margin-left: 6px;
    margin-right: 6px;
}

.msg-input {
    /* position: absolute; */
    /* background-color: rgb(64, 68, 76); */
    /* width: 500px; */
    background-color: pink;
    color: white;
    all: unset;
    width: 95%;
}

.new-msg-btn {
    max-width: 5%;
    width: 100%;
}

.messages {
    overflow-y: auto;
}

.msg {
    /* background-color: pink; */
    display: grid;
    grid-template-columns: .1fr 1.8fr;
    grid-template-rows: .1fr .7fr;
    grid-template-areas:
        'pic name'
        'pic body';
    align-items: center;
    gap: 0px 0px;
    margin-bottom: 7px;
}

#msg-profile-pic {
    max-width: 40px;
    height: 100%;
    padding: 25px;
}

.msg-profile-pic {
    grid-area: pic;
}

.msg-username {
    grid-area: name;
    display: flex;
    font-weight: bold;
    justify-content: space-between;
}

.msg-body {
    grid-area: body;
    display: grid;
}

.msg-btns {
    display: none;
}

.msg:hover {
    background-color: rgb(51, 53, 58);
}

.msg:hover .msg-btns {
    display: flex;
    margin: 3px;
}

.msg-btn-container {
    display: flex;
    padding-right: 10px;
    /* position: fixed; */
    right: 15px;
}

#del-msg-btn {
    height: 25px;
    width: 25px;
}

#del-msg-btn:hover {
    opacity: .7;
}

#edit-msg-btn {
    /* fill: white; */
    color: white;
    height: 25px;
    width: 25px;
}

#edit-msg-btn:hover {
    opacity: .7;
}

.cancel-edit-msg-btn {
    width: 25px;
    height: 25px;
}

.cancel-edit-msg-btn:hover {
    color: white;
    opacity: .7;
}

.msg-submit-btn {
    all: unset;
    background-color: transparent;
}

.msg-submit-btn:disabled {
    display: none;
    /* all: unset; */
    /* background-color: rgb(54, 57, 63); */
}

.edit-msg-input {
    all: unset;
    background-color: rgb(64, 68, 76);
    width: 80%;
    height: 45px;
    /* padding-top: 4 px; */
    margin-top: 4px;
}

.edit-msg-form {
    display: flex;
}

.edit-btns {
    margin: 15px;
    margin-right: 5px;
}

.new-msg-btn {
    all: unset;
    background-color: transparent;
    margin-left: 12px;
    margin-right: 8px;
}

.new-msg-btn-img {
    height: 20px;
    width: 20px;
}

.new-msg-btn:disabled .new-msg-btn-img {
    display: none;
}



.delModalBtns {
    display: flex;
    flex-direction: row;
    background-color: #303136;
    padding: .75rem;
    align-items: center;
    justify-content: flex-end;
    border-radius: 3px;
}

.modalBtn {
    display: inline-block;
    outline: none;
    cursor: pointer;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    padding: 2px 16px;
    height: 32px;
    min-width: 60px;
    min-height: 32px;
    border: none;
    color: #fff;
    background-color: rgb(88, 101, 242);
    transition: background-color .17s ease, color .17s ease;
    margin-left: 1.5rem;
}

.redBtn {
    background-color: #D83C3E;
}

.modalBtn:hover {
    background-color: rgb(71, 82, 196);
}

.redBtn:hover {
    background-color: #b33133;
}

.deleteModalOuter {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
}

.deleteModal {
    position: absolute;
    /* top: 33%;
    right: 0;
    left: 33%;
    bottom: 0; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #37393F;
    width: 20rem;
    height: 7rem;
    border-radius: 3px;
}

.delModalText {
    padding-left: .75rem;
}

.bold {
    font-weight: bolder;
}

.small {
    font-size: 14px;
    color: lightgray;
}
